# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.sln
*.suo
*.edmx
*.dll
#
/AppSicoWeb/AppWebSico/Properties/
/AppSicoWeb/AppWebSico/obj/
/AppSicoWeb/AppWebSico/bin/
#
/AppSicoWeb/AppWebSico_BL/Properties/
/AppSicoWeb/AppWebSico_BL/obj/
/AppSicoWeb/AppWebSico_BL/bin/
#
/AppSicoWeb/AppWebSico_DL/Properties/
/AppSicoWeb/AppWebSico_DL/obj/
/AppSicoWeb/AppWebSico_DL/bin/
#
/AppSicoWeb/AppWebSico_Class/Properties/
/AppSicoWeb/AppWebSico_Class/obj/
/AppSicoWeb/AppWebSico_Class/bin/